#Leitura dos dados

In [1]:
!pip install pyspark==3.3.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark==3.3.1
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 49 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 91.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=38fd842590d108021fa575a39b093b6dc396b4b5901c309dc9e479c4db9e4a89
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('local[*]').appName("Transformacao com Spark").getOrCreate()

spark

In [4]:
!wget "https://caelum-online-public.s3.amazonaws.com/challenge-spark/semana-2.zip" && unzip semana-2.zip -d dados/

--2022-12-02 13:22:59--  https://caelum-online-public.s3.amazonaws.com/challenge-spark/semana-2.zip
Resolving caelum-online-public.s3.amazonaws.com (caelum-online-public.s3.amazonaws.com)... 54.231.166.89, 54.231.162.41, 52.217.167.161, ...
Connecting to caelum-online-public.s3.amazonaws.com (caelum-online-public.s3.amazonaws.com)|54.231.166.89|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2763652 (2.6M) [application/zip]
Saving to: ‘semana-2.zip’

semana-2.zip        100%[===================>]   2.63M  4.41MB/s    in 0.6s

2022-12-02 13:23:00 (4.41 MB/s) - ‘semana-2.zip’ saved [2763652/2763652]

Archive:  semana-2.zip
   creating: dados/dataset_transformado_parquet/
  inflating: dados/dataset_transformado_parquet/_SUCCESS
  inflating: dados/dataset_transformado_parquet/._SUCCESS.crc
  inflating: dados/dataset_transformado_parquet/part-00000-00341ba7-0a7c-4fef-a81e-1066725a64b1-c000.snappy.parquet
  inflating: dados/dataset_transformado_parquet/.part-00000-00341ba7-0a7c-4fef-a81e-1066725a64b1-c000.snappy.parquet.crc

In [5]:
dados = spark.read.parquet('/content/dados/dataset_transformado_parquet')

In [6]:
dados.toPandas()

,id,andar,area_total,area_util,banheiros,caracteristicas,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,bairro,zona,condominio,iptu,tipo,valor
0,03a386b6-7ab8-4eff-891d-f8a16efc1989,0,43,43,1,"[Churrasqueira, Academia, Playground, Salão de...",2,NaN,Usado,Apartamento,Residencial,1.0,Realengo,Zona Oeste,285,None,Venda,22999
1,1fe78d41-b8e0-4d21-a1a8-72cb7863f441,0,44,44,1,[],2,0.0,Usado,Apartamento,Residencial,0.0,Irajá,Zona Norte,170,0,Venda,110000
2,1fa1c1e5-e98c-433f-9675-1b43d7d6da01,4,None,55,1,[],2,0.0,Usado,Apartamento,Residencial,1.0,Cosmos,Zona Oeste,None,None,Venda,115000
3,a6ab01ae-3d40-40e7-bb6a-f2334e0abbe0,2,None,55,1,[],2,0.0,Usado,Apartamento,Residencial,0.0,Tomás Coelho,Zona Norte,None,None,Venda,115000
4,1d8ff7a2-16bd-4e3f-a92e-1b85f923ebb0,0,None,50,1,[],1,NaN,Usado,Apartamento,Residencial,0.0,Centro,Zona Central,1300,2679,Venda,125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66557,07c8609a-b43a-4dd2-aefe-2ea7ab1099ac,3,381,381,6,"[Elevador, Academia, Churrasqueira, Piscina, P...",4,4.0,Usado,Apartamento,Residencial,4.0,Barra da Tijuca,Zona Oeste,6000,18000,Venda,6400000
66558,e199b2cf-a57d-4788-afb1-35a028397ce5,0,555,555,7,"[Academia, Churrasqueira, Condomínio fechado, ...",3,3.0,Usado,Apartamento,Residencial,5.0,Barra da Tijuca,Zona Oeste,8030,2094,Venda,7020632
66559,6c2564d2-2e6e-4816-9c4c-7e40a4e8d40b,0,648,648,5,"[Academia, Salão de festas, Playground, Elevad...",5,4.0,Usado,Apartamento,Residencial,4.0,Barra da Tijuca,Zona Oeste,1000,1000,Venda,8500000
66560,79bd3a12-3e8b-4c73-96ed-7908f423fd0e,10,567,567,5,"[Elevador, Churrasqueira, Piscina, Condomínio ...",4,4.0,Usado,Apartamento,Residencial,4.0,Lagoa,Zona Sul,4590,2500,Venda,9990000
66561,8a1899d4-1107-45a9-af7d-472a7d0c6319,12,477,477,6,"[Academia, Churrasqueira, Piscina, Playground,...",4,4.0,Usado,Apartamento,Residencial,5.0,Barra da Tijuca,Zona Oeste,0,0,Venda,12000000

In [7]:
dados.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: long (nullable = true)
 |-- area_total: string (nullable = true)
 |-- area_util: string (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- valor: string (nullable = true)

#Analisando a diferença entre a quantidade da dados não nulos armazenados nas colunas 'area_util' e 'area_total'

In [8]:
from pyspark.sql import functions as f

In [9]:
dados.select('area_total').where(f.col('area_total').isNotNull()).count()

57368

In [10]:
dados.select('area_util').where(f.col('area_util').isNotNull()).count()

66562

In [11]:
dados = dados.drop('area_total')

In [12]:
dados.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: long (nullable = true)
 |-- area_util: string (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- valor: string (nullable = true)

#Convertendo os tipos das colunas

In [13]:
dados = dados.withColumn('area_util', dados.area_util.cast('double'))
dados = dados.withColumn('iptu', dados.iptu.cast('double'))
dados = dados.withColumn('valor', dados.valor.cast('double'))
dados = dados.withColumn('condominio', dados.condominio.cast('double'))

dados = dados.withColumn('andar', dados.andar.cast('integer'))
dados = dados.withColumn('banheiros', dados.banheiros.cast('integer'))
dados = dados.withColumn('quartos', dados.quartos.cast('integer'))
dados = dados.withColumn('suites', dados.suites.cast('integer'))

In [14]:
dados.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: integer (nullable = true)
 |-- area_util: double (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: integer (nullable = true)
 |-- suites: integer (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: double (nullable = true)
 |-- iptu: double (nullable = true)
 |-- tipo: string (nullable = true)
 |-- valor: double (nullable = true)

#Tratamento da coluna caracteristicas

In [15]:
caracteristicas = dados.select(dados.id,f.explode(dados.caracteristicas))
caracteristicas.toPandas()
caracteristicas.groupBy('col').count().toPandas()

                  col  count
0  Condomínio fechado  34984
1          Playground  31856
2   Portão eletrônico  29324
3             Piscina  33236
4  Animais permitidos  30619
5        Portaria 24h  30361
6            Elevador  43027
7            Academia  27643
8     Salão de festas  33585
9       Churrasqueira  31739

In [16]:
caracteristicas = caracteristicas.groupBy('id').pivot('col').agg(f.lit(1)).na.fill(0)
caracteristicas.toPandas()

,id,Academia,Animais permitidos,Churrasqueira,Condomínio fechado,Elevador,Piscina,Playground,Portaria 24h,Portão eletrônico,Salão de festas
0,fd96bbd5-d631-416a-9f84-29091cefe14c,1,1,1,1,1,1,1,1,1,1
1,bfffedfe-99e7-4aed-9a9f-f766225a0f1f,0,1,1,1,1,0,1,0,1,1
2,fcb67af3-5601-415f-9d1f-75280923a4e3,1,1,1,0,0,1,1,0,0,1
3,afecddff-f4cc-4ab8-bdbf-242b7dff7241,1,1,1,1,1,1,1,1,1,1
4,1bbc40f3-4f5c-4595-99b1-56ef42a54ede,1,0,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
53821,f7f4272f-e90b-4a1d-99c1-d8ecd45b7835,0,1,0,0,1,0,0,0,0,0
53822,7c9ec7d5-65e5-46cc-a6dc-b46183cc8f59,0,0,0,0,1,0,0,1,0,0
53823,6c036b69-8aa2-4e2d-a691-b79fe4ad57e3,0,0,0,0,1,0,0,0,0,0
53824,1f70b061-1f8b-4ded-b4cf-ed00baf56ac5,0,0,1,0,0,0,0,0,0,0
53825,81e0f42b-963a-4968-9868-3b81ce50f0cf,0,0,0,0,1,0,0,0,0,0

In [17]:
dados = dados.join(caracteristicas, 'id', how='left').drop('caracteristicas')

In [18]:
dados.toPandas()

,id,andar,area_util,banheiros,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,...,Academia,Animais permitidos,Churrasqueira,Condomínio fechado,Elevador,Piscina,Playground,Portaria 24h,Portão eletrônico,Salão de festas
0,03a386b6-7ab8-4eff-891d-f8a16efc1989,0,43.0,1,2,NaN,Usado,Apartamento,Residencial,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
1,1fe78d41-b8e0-4d21-a1a8-72cb7863f441,0,44.0,1,2,0.0,Usado,Apartamento,Residencial,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1fa1c1e5-e98c-433f-9675-1b43d7d6da01,4,55.0,1,2,0.0,Usado,Apartamento,Residencial,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a6ab01ae-3d40-40e7-bb6a-f2334e0abbe0,2,55.0,1,2,0.0,Usado,Apartamento,Residencial,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1d8ff7a2-16bd-4e3f-a92e-1b85f923ebb0,0,50.0,1,1,NaN,Usado,Apartamento,Residencial,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66557,07c8609a-b43a-4dd2-aefe-2ea7ab1099ac,3,381.0,6,4,4.0,Usado,Apartamento,Residencial,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
66558,e199b2cf-a57d-4788-afb1-35a028397ce5,0,555.0,7,3,3.0,Usado,Apartamento,Residencial,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
66559,6c2564d2-2e6e-4816-9c4c-7e40a4e8d40b,0,648.0,5,5,4.0,Usado,Apartamento,Residencial,4.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
66560,79bd3a12-3e8b-4c73-96ed-7908f423fd0e,10,567.0,5,4,4.0,Usado,Apartamento,Residencial,4.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
66561,8a1899d4-1107-45a9-af7d-472a7d0c6319,12,477.0,6,4,4.0,Usado,Apartamento,Residencial,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0